.toolbar-background {
    background-color: #4CAF50;
  }

  .balance-dates {
    p:first-child{
      margin-bottom: 0;
    }
    p:last-child {
      margin-top: 0.5rem;
    }
  }

  .buttons-area {
    height: 50%;
    ion-grid.grid {
      height: 100%;
      padding: 0;
      ion-row.row{
        height: 100%;
        .button.disable-hover.button.button-ios.button-default.button-default-ios.button-full.button-full-ios{
          padding: 1;
        }
        button {
          height: 100%;
          margin: 0;
          text-transform: capitalize;
          font-weight: 400;
          background: white;
          .button-inner{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
          }
        }
        ion-col.col{
          padding: 0;
        }
      }
    }
  }

  .home-screen .balance-details {
    height: 100%;
    .button-outline-md{
      margin-top: 2rem;
      text-transform: none;
      padding: 2rem 4rem;
    }
  }
  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }

.profilePic{
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
  margin: 1em auto;
  overflow: hidden;
  border: 3px white solid;
   img{
     object-fit: cover;
     height: 100%;
     width: 100%;
   }
}
